.label {
  height: 50px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-left: 8px;
}

.label:focus {
  border-radius: 2px;
  outline: 3px solid rgb(0, 123, 255);
}
